/p1 {
    color: orange;
    font-size: 40px;
    font-family: 'Bell MT';
}
header {
  background-image: url(ohno.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.tabs,
.tabs-contents {
    float: left;
    list-style-type: none;
    font-family: Arial;
}

.tabs li {
    display: inline-block;
}

.tabs li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid black;
    transition: 0.5s ease;
}

.tabs li a.active {
    background-color: #FFFFFF;
    color: #424242;
    cursor: default; 

}

.tabs li a:hover {
    background-color: white;
    color: black;
}

.Title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}




